@import "../../styles/mixins";
@import "../../styles/variables";

.healthBar {
  position: absolute;
  top: 202px;
  left: 70px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  z-index: 10;
}
