@import "../../styles/mixins";
@import "../../styles/variables";

$padding: 10px;
$margin: 10px;
$borderRadius: 8px;

.statbar {
  @include flex($jc: space-around);
  vertical-align: middle;
  width: 100%;
}

.statTitleContainer {
  @include flex;
  border: 1px solid;
  border-radius: $borderRadius;
  padding: $padding;
  width: 50%;
  margin: $margin;
}

.statValueContainer {
  @include flex;
  border: 1px solid;
  border-radius: $borderRadius;
  padding: $padding;
  padding-left: 30px;
  padding-right: 30px;
  margin: $margin;
}
