@import "../../styles/mixins";
@import "../../styles/variables";

.changePassword {
  @include margin;
  width: calc(100% - 60px);
  display: block;
  h2 {
    margin: 20px 0;
  }
  input[type="password"] {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0px;

    &::placeholder {
      padding: 0px 5px;
    }
  }
}

.submitPassword {
  background-color: $midColor;
  width: 100%;
}
