@import "../../styles/mixins";
@import "../../styles/variables";

.navbar {
  @include flex;

  div {
    @include flex($jc: space-around);
    width: 100%;

    a {
      @include flex(column);
      font-size: 1rem;
      flex: 1;
      height: 80px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      &:last-child {
        border-right: none;
      }
    }
  }

  img {
    height: 45px;
    padding-bottom: 5px;
  }
}
