@import "../mixins";
@import "../variables";

$padding: 10px;
$margin: 30px;

.accountPageContainer {
  border-radius: 50px;
  background-color: $midColor;
  padding: 30px;
  margin: 10px;
  box-shadow: 5px 5px 5px 0px rgba($color: #000000, $alpha: 0.1);
}

.infoContainer {
  padding: 10px;
}

.btnContainer {
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.changePasswordBtn {
  width: 100%;
  padding: $padding;
  margin-top: $margin;
  margin-bottom: $margin;
}

.logoutBtn {
  width: 100%;
  padding: $padding;
  margin-top: $margin;
  margin-bottom: $margin;
}
